@charset "utf-8";
$baifen:100%;




html {
    background-color: #ededed;
    font: "PingFang SC", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", STHeiTi, sans-serif;
    color: #444;
}
/* 开始 */
